.section {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 150px;
  font-family: Sans-serif;
  font-weight: 900;
  font-size: 100px;
  letter-spacing: -3px;
  line-height: 0.9em;
  color: #000;
}

.description {
  align-self: center;
  font-family: Sans-serif;
  text-align: center;

  font-weight: 80;
  font-size: 22px;
  line-height: 1.5em;
}

.images {
  align-self: center;
}

.image1,
.image2,
.image3 {
  margin-left: 10px;
  margin-right: 10px;
  color: #333333;
  font-family: Sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-size: 0.8rem;
  border: 2px solid #333333;
  border-radius: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.image1:hover,
.image2:hover,
.image3:hover {
  background-color: black;
  color: white;
}

.field {
  align-self: center;
}

.pause,
.resume {
  font-family: Sans-serif;
  align-self: center;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.pause:hover,
.resume:hover {
  background-color: black;
  color: white;
}

.the-text {
  font-family: Sans-serif;
  align-self: center;
}
